body {
    margin: 0px;
    height: 100%;
    color: white;
    background-color: Black;
}

.header {
    height: 50%;
    text-align: center;
    background-color: Gray;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 0px;
    background-color: Gray;
    text-align: center;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.center {
    background-color: maroon;
    padding: 10px;
}

div {
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type=text],
input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=sumbit] {
    width: 100%;
    background-color: Gray;
    padding: 14px 20px;
    margin: 8x 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: #45a045;
    transition: 0.5s
}

tr {
    border-radius: 5px;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}